<a href="https://colab.research.google.com/github/daniloMenesesEsme/Projeto01/blob/main/C%C3%B3pia_de_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas

Tuplas são uma estrutura de dados do Python, cujo objetivo (assim como as listas) é armazenar diversos dados. Algumas características das tuplas são:

- tupla = (elemento1, elemento2, elemento3....)
- é uma sequência ordenada de elementos
- seus elementos possuem índice
- podem ser heterogêneas (possuirem tipos diferentes de dados)
- é **imutável**

# Criando uma tupla

In [ ]:
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [1]:
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
print(numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
type(numeros)

tuple

In [4]:
pessoas = ('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [5]:
print(pessoas)

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [6]:
type(pessoas)

tuple

# Acessando os elementos de uma tupla

In [7]:
pessoas

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [9]:
pessoas[2]

'João'

In [10]:
pessoas[5]

14

In [14]:
pessoas[-3]

14

# Tuplas são imutáveis!

Logo, não conseguimos manipular os elementos de uma tupla!

In [ ]:
pessoas

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [ ]:
pessoas[0] = 'Joana'

TypeError: ignored

In [ ]:
del pessoas[1]

TypeError: ignored

In [ ]:
pessoas[8] = 'teste'

TypeError: ignored

In [16]:
produtos = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
print(produtos)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)