<a href="https://colab.research.google.com/github/daniloMenesesEsme/Projeto01/blob/main/Programa_2_1_Primeiro_programa_com_vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Vejamos o que cada linha significa. A primeira linha inicia com #. O # é o símbolo usado para indicar que estamos comentando ou fazendo um comentário.
Comentários são ignorados pelo interpretador Python e podemos escrever o quisermos.

In [ ]:
# Programa 2.1 - Primeiro programa com variáveis
a = 2
b = 3
print(a + b)

5

In [ ]:
# Programa 2.2 - Cálculo de aumento de salário
salário = 1500
aumento = 5
print(salário + (salário * aumento / 100))

1575.0

In [ ]:
# programa 2.3 - Alternativa para o cálculo de aumento de salário
print(1500 + (1500 * 5 / 100))

1575.0

## Hora de exercitar

In [ ]:
# Exercício 2.3 - Faça um programa que exiba seu nome na tela.
nome = 'Danilo'

In [ ]:
print(nome)

Danilo

In [ ]:
# Exercício 2.4 - Escreva um programa que exiba o resultado de 2a x 3b, em que 'a' vale 3 e 'b' vale 5
a = 3
b = 5
print(a * b)

15

In [ ]:
# Exercício 2.5 - Escreva um programa que calcule a soma de três variáveis e imprima o resultado na tela.
a = 2
b = 3
c = 4
print(a+b+c)

9

In [ ]:
# Exercício 2.6 - Modifique o Programa 2.2, de forma que ele calcule um aumento de 15% para um salário de R$ 750
salário = 750
aumento = 15
print(salário + (salário * aumento / 100))

862.5

## CAPÍTULO 3 - Variáveis e entrada de dados

Em Python, nome de variáveis devem inicir obrigatoriamente com uma letra ou com o símbolo sublinha (_). Após a primeira caractere, podem conter letras, números e o sublinha. Vejamos exemplo de nomes válidos e inválidos em Python na Tabela 3.1.

In [1]:
import pandas as pd

In [11]:
data = {'Nome': ['a1', 'velocidade', 'velocidade90', 'salário_médio', 'salário médio', '_b', '1a'],
        'Válido': ['sim', 'sim', 'sim', 'sim', 'Não', 'sim', 'Não'],
        'Comentário': ['Embora contenha um número, o nome a1 inicia com letra.', 'Nome formado por letras.',
                       'Nome formado por letras e números, mas iniciado por letra.', 'O símbolo sublinha (_) é permitido e facilita a leitura de nomes grandes.',
                       'Nomes de variáveis não podem conter espeços em branco.', 'O sublinha (_) é aceito em nomes de variáveis, mesmo no início.',
                       'Nomes de variáveis não podem começar com números.']}
df = pd.DataFrame(data)

In [12]:
df

            Nome Válido                                         Comentário
0             a1    sim  Embora contenha um número, o nome a1 inicia co...
1     velocidade    sim                           Nome formado por letras.
2   velocidade90    sim  Nome formado por letras e números, mas iniciad...
3  salário_médio    sim  O símbolo sublinha (_) é permitido e facilita ...
4  salário médio    Não  Nomes de variáveis não podem conter espeços em...
5             _b    sim  O sublinha (_) é aceito em nomes de variáveis,...
6             1a    Não  Nomes de variáveis não podem começar com números.

## 3.2 Variáveis numéricas
### Dizemos que uma variável é número quando armazena números interios ou de pontos flutuante.
### Os números interios são aqueles sem parte decimal, como 1, 0, -5, 550, -47, 30000.
### Núemros de ponto flutuante ou decimais são aqueles com parte decimal, como 1.0, 5.478, 10.478, 30000.4. Observe que 1.0, mesmo tento zero na parte decimal, é um número de ponto flutuante.
### Em Python, e na maioria das linguagens de programação, utulizamos o ponto, e não a vírgula, como separador entre a parte inteira e fracionária de um número. Essa é outra herança da língua inglesa. Observe também que não utilizamos nada como separador de milhar. Exemplo: 1.000.000 (um milhão) é escrito 1000000. Uma forma alternativa de separar números grandes é utilizar o sublinhado entre os dígitos (a partir do Python 3.6).

In [13]:
print(1_000)

1000

In [14]:
print(1_000_000)

1000000

In [15]:
print(1_0_0)

100

In [16]:
print(1_980.10)

1980.1

### Exercício 3.1 Complete a tabela a seguir, marcando inteiro ou ponto flutuante depedendo do número apresentado.

In [19]:
dados2 = {'Número': ['5', '5.0', '4.3', '-2', '100', '1.333'],
          'Tipo numérico': ['(x)inteiro ( )ponto flutuante', '( )inteiro (x)ponto flutuante', '( )inteiro (x)ponto flutuante',
                            '(x)inteiro ( )ponto flutuante', '(x)inteiro ( )ponto flutuante', '( )inteiro (x)ponto flutuante']}
df = pd.DataFrame(dados2)

In [20]:
df

  Número                  Tipo numérico
0      5  (x)inteiro ( )ponto flutuante
1    5.0  ( )inteiro (x)ponto flutuante
2    4.3  ( )inteiro (x)ponto flutuante
3     -2  (x)inteiro ( )ponto flutuante
4    100  (x)inteiro ( )ponto flutuante
5  1.333  ( )inteiro (x)ponto flutuante

## Representação de valores numéricos
### Internamente, todos os números são representados utilizando o sistema binários, ou seja, de base 2. Esses sistema permite apenas os dígitos 0 e 1. Para representar números maiores, combinamos vários dígitos, exatamente como fazemos com o sistema decimal, ou de base 10, que utilizamos.
### Vejamos primeiro como isso funciona na base 10:
### 532 = 5 x 10² + 10¹ + 1 x 10°
   ###  = 5 x 100 + 3 x 10 + 1 x 1
   ###  = 500 + 30 + 1
   ###  = 531

In [25]:
a = 5
b = 100
c = 3
d = 10
e = 1
soma = a * b + c * d + e * e

In [26]:
print(soma)

531

In [27]:
5 * 100 + 3 * 10 + 1 * 1

531

In [28]:
(5 * 10**2)+(3 * 10**1)+(1 * 10**0)

531

In [29]:
(1 * 2**3)+(0 * 2**2)+(1 * 2**1)+(0 * 2**0)

10

In [32]:
3 * 0.1

0.30000000000000004

In [33]:
a = 0b10 # Base 2 - binário

In [34]:
a

2

In [35]:
b = 0x10 # Base 16 - hexadecimal

In [36]:
b

16

In [37]:
c = 0o10 # Base 8 - Octal

In [38]:
c

8

## 3.3 Variável do tipo Lógico
#### Muitas vezes, queremos armazenar um conteúdo simples: verdadeiro ou falso em uma variável. Nesse caso, utilizamos um tipo de variável tipo lógico ou booleano. Em Python, escrevemos **True** para verdadeiro e **False** para falso. Observe que o T e o F são escritos com letras maiúsculas:

#### resultado = **True**
#### aprovado = **False**

## 3.3.1 Operadores relacionais
#### Para realizarmos comparações lógicos, utilizaremos operadores realcionais. A lista de operadores relazionais suportados em Python é apresentada na Tabela 3.2

In [42]:
# Tabela 3.2 - Operadores relacionais
dados3 = {'Operador': ['==', '>', '<', '!=', '>=', '<='],
          'Operador': ['igualdade', 'maior que', 'menor que', 'diferente', 'maior ou igual', 'menor ou igual'],
          'Símbolo matemático': ['=', '>', '<', '≠', '≥', '≤']}
df = pd.DataFrame(dados3)

In [43]:
df

         Operador Símbolo matemático
0       igualdade                  =
1       maior que                  >
2       menor que                  <
3       diferente                  ≠
4  maior ou igual                  ≥
5  menor ou igual                  ≤

Exercitando:

In [44]:
a = 1 # a recebe 1
b = 5 # a recebe 5
c = 2 # a recebe 2
d = 1 # a recebe 1
a == b  # a é igual a b ?

False

In [45]:
b > a

True

In [46]:
a < b

True

In [47]:
a == d

True

In [48]:
b >= a

True

In [49]:
c <= b

True

In [50]:
d != a

False

In [51]:
d != b

True